//! **************************************************************************
// Written by: Map P.28xd on Tue Nov 06 16:48:06 2012
//! **************************************************************************

SCHEMATIC START;
COMP "enable" LOCATE = SITE "E4" LEVEL 1;
COMP "pulse" LOCATE = SITE "N12" LEVEL 1;
COMP "counter_out<24>" LOCATE = SITE "U18" LEVEL 1;
COMP "counter_out<25>" LOCATE = SITE "M14" LEVEL 1;
COMP "counter_out<26>" LOCATE = SITE "N14" LEVEL 1;
COMP "clock" LOCATE = SITE "L15" LEVEL 1;
COMP "counter_out<27>" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

